{{ 'customer-login.css' |  asset_url |  stylesheet_tag }}

<div class="login container">
    <div class="login-form">
        <p class="login-form__title">Reset your password</p>
        {% form 'reset_customer_password' %}
            {% if form.errors %}
                <div class="login-form__errors poppins" role="alert">
                    <strong>Error!</strong>
                    <span>{{ form.errors |  default_errors }}</span>
                </div>
            {% endif %}

            <div class="login-form__password-section">
                <label for="password">New password</label>
                <input type="password" name="customer[password]" id="password" autocomplete="new-password" placeholder="Enter password">
            </div>

            <div class="login-form__password-section">
                <label for="password_confirmation">Confirm password</label>
                <input type="password" name="customer[password_confirmation]" id="password_confirmation" autocomplete="new-password" placeholder="Confirm your password">
            </div>

            <div class="login-form__submit">
                <button type="submit">Reset password</button>
            </div>
        {% endform %}
    </div>    
</div>