{{ 'section-featured-blog.css' |  asset_url |  stylesheet_tag }}

<div class="featured-blog">
    <div class="container">
        <p class="featured-blog__header">{{ section.settings.title }}</p>
        <div class="featured-blog__subtitle poppins">{{ section.settings.subtitle }}</div>
        <div class="featured-blog__wrapper swiper blog-swiper">
            <div class="swiper-wrapper">
                {% for article in section.settings.blog.articles %}
                    {% render 'blog-card', article: article %}
                {% endfor %}
            </div>
            <div class="blog-swiper-pagination"></div>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Featured Blogs",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "richtext",
            "id": "subtitle",
            "label": "Subtitle"
        },
        {
            "type": "blog",
            "id": "blog",
            "label": "Blog"
        }
    ]
}
{% endschema %}