{{ 'section-search.css' |  asset_url |  stylesheet_tag }}

<div class="search">
    <div class="container">
        {% paginate search.results by 10 %}
            <p class="search__title">{{ section.settings.title }}</p>
            {% if search.performed %}
                {% if search.results.size > 0 %}
                    <div class="search-items__wrapper">
                        {% for item in search.results %}
                            {% case item.object_type %}
                                {% when 'product' %}
                                    {% render 'product-card', product: item %}
                                {% when 'article' %}
                                    {% render 'blog-card', article: item %}
                                {% else %}
                            {% endcase %}
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="search__not-found">
                        <span>Sorry, we could not find search term: {{ search.terms }}</span>
                    </div>
                {% endif %}
            {% endif %}
            
            {% render 'pagination', paginate: paginate %}
        {% endpaginate %}
    </div>
</div>

{% schema %}
{
    "name": "Search page",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Search results"
        }    
    ]
}
{% endschema %}