html,
body {
  font-family: "Barlow", "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body.mobile {
  overflow-y: hidden;
}

* {
  box-sizing: border-box;
}

/* global styles  */

a {
  display: inline-block;
  text-decoration: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

/* custom styles */

.barlow {
  font-family: "Barlow", sans-serif !important;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.relative {
  position: relative;
}

.container {
  width: min(1170px, 100%);
  margin: 0 auto;
  padding: 0 20px;
}

button.primary,
button.ordinary {
  border-radius: 6px;
  padding: 10px 30px;
  transition: 300ms all;
  font-weight: bold;
}

button.primary {
  color: #fff;
  background-color: #000;
}

button.ordinary {
  color: #fff;
  background-color: #989898;
}

button.primary:hover {
  background-color: #424242;
}

button.ordinary:hover {
  background-color: #7d7d7d;
}

/* header styles */

.header {
  background-color: #ffff;
  padding: 25px 0;
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo__name {
  color: #000;
  text-transform: uppercase;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 35px;
}

.header__nav-link,
.header__nav-button {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
}

.header__nav-button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 5px;
}

.header__burger-menu {
  display: none;
}

.header__nav-link:hover,
.header__nav-button:hover {
  color: #ef3636;
}

.header__links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__links-shopping {
  color: #000;
}

.header__links-shopping:hover {
  color: #5e5e5e;
}

/* header dropdown menu */

.header__nav-dropdown {
  display: none;
  width: 200px;
  position: absolute;
  background-color: #ffff;
  border: 1px solid #5e5e5e;
  padding: 10px;
}

.header__dropdown-container:hover .header__nav-dropdown {
  display: block;
}

.header__nav-dropdown a {
  width: 100%;
  padding: 8px 20px;
}

.header__nav-dropdown a:hover {
  background-color: #efefef;
}

/* footer  */

.footer {
  background-color: #252525;
  color: #ffff;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 0;
}

.footer__info-shop {
  color: #ffff;
  text-transform: uppercase;
}

.footer__info-slogan {
  width: 140px;
  font-size: 12px;
}

.footer__contact,
.footer__nav-title,
.footer__nav-link {
  font-size: 14px;
}

.footer__nav-title,
.footer__contact-title {
  color: #ef3636;
  text-transform: uppercase;
}

.footer__nav-link {
  display: block;
  color: #ffff;
  margin-bottom: 10px;
}

.footer__nav-link:hover {
  color: #dcdcdc;
}

.footer__contact-address,
.footer__contact-number,
.footer__contact-email {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Poppins";
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  border-top: 1px solid #ef3636;
  padding: 15px;
}

/* 404 page  */

.page-404 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 0 40px 0;
}

.page-404__title {
  font-size: 50px;
  line-height: 0;
  font-weight: bold;
}

.page-404__button {
  color: #fff;
  background-color: #5e5e5e;
  padding: 5px 20px;
}

.page-404__button:hover {
  background-color: #858585;
}

/* hero section  */

.hero {
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.hero__column-text {
  width: 400px;
}

.hero-title {
  font-size: 50px;
  text-transform: uppercase;
}

.hero-subtitle {
  font-size: 16px;
}

/* featured collection  */

.featured-collection {
  background-image: url("https://cdn.shopify.com/s/files/1/0870/2214/1744/files/Rectangle_41.png?v=1714637498");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 0;
  z-index: 1;
}

.featured-collection__title {
  font-size: 34px;
  color: #ef3636;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 5px;
}

.featured-collection__subtitle {
  font-size: 15px;
  color: #989898;
  text-transform: capitalize;
  margin: 0;
  padding-bottom: 20px;
}

.featured-collection .featured-collection__container {
  display: flex;
  justify-content: center;
}

/* collection card  */

.featured-collection__card {
  position: relative;
  background-color: #949494;
  width: min(390px, 100%);
  height: 430px;
}

.featured-collection__card-data {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px 20px 0 0;
}

.featured-collection__card-img,
.featured-collection__card-placeholder {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 5;
}

.featured-collection__card-title,
.featured-collection__card-count {
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 6;
  margin: 0;
}

.featured-collection__card-title {
  color: #ef3636;
  font-size: 30px;
}

.featured-collection__card-count {
  color: #fff;
  font-size: 16px;
}

/* list collection  */

.list-collection {
  padding: 30px 0;
}

.list-collection__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 16px;
}

.list-collection__title {
  display: block;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 25px;
}

.list-collection__button {
  display: flex;
  justify-content: center;
  padding: 60px 0 40px;
}

/* product card  */

.product-card {
  width: min(270px, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-card__img {
  width: 100%;
  height: 190px;
}

.product-card__img img,
.product-card__placeholder {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.product-card__vendor,
.product-card__title,
.product-card__price {
  font-size: 14px;
  margin: 0;
}

.product-card__vendor {
  text-transform: capitalize;
  padding: 10px 0;
}

.product-card__title {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.product-card__price {
  color: #ef3636;
  font-weight: bold;
  padding-bottom: 10px;
}

/* two column section  */

.two-column {
  padding: 40px 0;
}

.two-column-container {
  display: flex;
  align-items: stretch;
}

.two-column__img img,
.two-column__placeholder {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.two-column__img,
.two-column__content {
  width: 50%;
}

.two-column__content {
  background-color: #f6f6f6;
  padding: 10px 30px;
}

.two-column__title {
  font-size: 30px;
  font-weight: bold;
  color: #ef3636;
  text-transform: uppercase;
}

.two-column__subtitle {
  color: #626262;
  text-transform: capitalize;
}

/* testimonials  */

.testimonials {
  position: relative;
  padding: 20px 0 60px 0;
}

.testimonials::after {
  z-index: -1;
  content: "";
  position: absolute;
  background-image: url("https://cdn.shopify.com/s/files/1/0870/2214/1744/files/Rectangle_42.png?v=1714719876");
  background-size: cover;
  background-repeat: no-repeat;
  top: -460px;
  left: 0;
  right: 0;
  bottom: 0;
}

.testimonials__title {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.testimonial {
  background-color: #f6f6f6;
  padding: 10px 45px;
  text-align: center;
}

.testimonial__author {
  font-size: 20px;
  font-weight: bold;
  color: #ef3636;
}

/* logos section  */

.logos-section__wrapper {
  padding: 0 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.logos-section__conrainer {
  padding: 30px 0;
}

.logos-section__img img,
.logos-section__placeholder {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.logos-section__title {
  font-size: 30px;
  font-weight: bold;
  color: #000;
  text-align: center;
}

/* featured blog  */

.featured-blog {
  padding: 40px 0;
}

.featured-blog__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.featured-blog__img {
  width: 380px;
  height: 305px;
}

.featured-blog__img img,
.featured-blog__placeholder {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featured-blog__header {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 5px;
}

.featured-blog__subtitle {
  width: min(500px, 100%);
  font-size: 15px;
  text-transform: capitalize;
}

.featured-blog__date {
  font-size: 12px;
  color: #989898;
}

.featured-blog__title {
  font-size: 14px;
  font-weight: bold;
  color: #ef3636;
  text-transform: uppercase;
}

.featured-blog__button {
  border: 1px solid transparent;
  padding: 4px 10px;
  transition: 200ms all;
}

.featured-blog__button:hover {
  border: 1px solid #000;
}

.blog-swiper-pagination {
  text-align: center;
  padding-top: 20px;
}

/* caption  */

.caption-container {
  padding: 60px 0;
}

.caption {
  padding: 120px 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.caption-title {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  color: #000;
  padding: 8px 20px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  margin: 0 auto;
  text-transform: uppercase;
  transition: 200ms all;
}

.caption-title:hover {
  background-color: #dbdbdb;
}

/* mobile menu  */

.mobile-menu {
  opacity: 0;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: #fff;
  padding: 0 20px;
  transform: translateX(-100%);
  transition: 100ms all;
}

body.mobile .mobile-menu {
  opacity: 9;
  transform: translateX(0%);
}

.mobile-menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  border-bottom: 1px solid #dcdcdc;
}

.mobile-menu__header-title {
  text-transform: uppercase;
}

.mobile-menu__link,
.mobile-menu__link-sublink {
  font-size: 20px;
  padding: 15px 0;
  border-bottom: 1px solid #dcdcdc;
}

.mobile-menu__link,
.mobile-menu__link a,
.mobile-menu__link-sublink a {
  width: 100%;
  color: #020de5;
}

.mobile-menu__link a,
.mobile-menu__link-sublink a {
  padding: 5px 0;
}

.mobile-menu__link.mobile-menu__link-dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu__link-sublink {
  padding-left: 15px;
}

.mobile-menu__link-container {
  display: none;
}

.mobile-menu__link-container.active {
  display: block;
}

/* header mobile  */

@media (max-width: 760px) {
  .header__nav {
    display: none;
  }

  .header__burger-menu {
    display: block;
  }
}

/* hero mobile  */

@media (max-width: 900px) {
  .hero-container {
    display: block;
  }

  .hero__column-text,
  .hero-title {
    width: 100%;
  }

  .hero-title {
    font-size: 40px;
  }

  .hero__column-image img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 900px) {
  .featured-collection__container {
    flex-direction: column;
    align-items: center;
  }

  .featured-collection__card {
    width: 100%;
  }
}

@media (max-width: 790px) {
  .footer-container {
    flex-direction: column;
  }

  .footer__info-slogan {
    width: 100%;
  }

  .footer-bottom {
    font-size: 14px;
  }
}

@media (max-width: 740px) {
  .two-column-container {
    display: block;
  }

  .two-column__content,
  .two-column__img {
    width: 100%;
  }
}

/* testimonial mobile  */

@media (max-width: 860px) {
  .testimonials {
    background-color: #252525;
  }
}
