html,
body {
  font-family: "Barlow", "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body.mobile {
  overflow-y: hidden;
}

* {
  box-sizing: border-box;
}

/* global styles  */

a {
  display: inline-block;
  text-decoration: none;
}

button,
input {
  border: none;
  background-color: transparent;
  outline: none;
}

button {
  cursor: pointer;
}

/* custom styles */

.barlow {
  font-family: "Barlow", sans-serif !important;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.relative {
  position: relative;
}

.container {
  width: min(1170px, 100%);
  margin: 0 auto;
  padding: 0 20px;
}

/* custom buttons  */

button.primary,
button.ordinary,
button.warn {
  border-radius: 6px;
  padding: 10px 30px;
  transition: 300ms all;
  font-weight: bold;
}

button.primary {
  color: #fff;
  background-color: #000;
}

button.ordinary {
  color: #fff;
  background-color: #989898;
}

button.primary:hover {
  background-color: #424242;
}

button.ordinary:hover {
  background-color: #7d7d7d;
}

button.warn {
  color: #fff;
  background-color: #ef3636;
}

button.warn:hover {
  background-color: #b61414;
}
