.cart__title {
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  margin-top: 10px;
}

.cart-background {
  padding: 40px 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.cart__empty {
  text-align: center;
}

.cart__empty-text {
  background-color: #252525;
  padding: 80px 0 60px 0;
}

.cart__empty-text__title,
.cart__empty-text__subtitle {
  margin: 0;
}

.cart__empty-text__title {
  color: #ef3636;
  font-size: 40px;
  margin-bottom: 20px;
}

.cart__empty-text__subtitle {
  color: #fff;
}

.cart__empty-button {
  margin-top: 20px;
  padding-bottom: 70px;
}

.cart-product__wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 140px;
}

.cart-products {
  width: min(600px, 100%);
}

.cart-product {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  padding-bottom: 8px;
}

.cart-product__header {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.cart-product__col-1 {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.cart-product__col-1 a {
  color: #4a4a4a;
}

.cart-product__col-1 svg:hover {
  cursor: pointer;
  stroke: #ef3636;
}

.cart-product__title {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.cart-product__variant {
  position: absolute;
  left: 165px;
  top: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #989898;
}

.cart-product__price {
  font-size: 20px;
  color: #989898;
  font-weight: bold;
  width: 80px;
}

.cart-product__img {
  width: 115px;
  height: 95px;
  object-fit: cover;
}

.cart-product__col-2 {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

/* cart totals  */

.cart-totals {
  width: 420px;
  color: #fff;
}

.cart-totals__wrapper {
  background-color: #252525;
  padding: 30px;
}

.cart-totals__title {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 10px 0;
  text-transform: uppercase;
}

.cart-product__count input {
  font-size: 18px;
  max-width: 50px;
  border-bottom: 1px solid #000;
}

.cart-totals__subtotal,
.cart-totals_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #989898;
  font-size: 14px;
  border: 1px solid #989898;
  border-left: 0;
  border-right: 0;
  padding: 10px 0;
}

.cart-totals__subtotal p,
.cart-totals_price p {
  margin: 0;
}

.cart-totals__subtotal span,
.cart-totals_price span {
  color: #fff;
  font-weight: bold;
}

.cart-totals_price {
  margin-top: 100px;
  border-bottom: 0;
}

.cart-totals_price p {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.cart-totals__actions {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.cart-totals__actions button {
  /* width: 45%; */
}

.cart-totals__actions a,
.cart-totals__actions button {
  width: 100%;
}

.cart-totals__actions-button {
  padding: 10px 30px;
  font-weight: bold;
  border: 1px solid #ef3636;
  border-radius: 6px;
  transition: 150ms all;
}

.cart-totals__actions-button:hover {
  color: #fff;
  background-color: #ef3636;
}

.cart-totals__update-button {
  margin-top: 15px;
}

.cart-totals__update-button button {
  width: 100%;
  background-color: #252525;
}

@media (max-width: 1125px) {
  .cart-product__wrapper {
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }

  .cart-product {
    flex-direction: column;
    align-content: flex-start;
    padding-bottom: 50px;
  }

  .cart-product__col-2 {
    width: 100%;
    justify-content: flex-end;
  }
}

@media (max-width: 640px) {
  .cart-totals {
    width: 100%;
  }
}
