.product-section {
  padding: 40px 0;
}

.product-wrapper {
  display: flex;
}

.product-section__images,
.product-section__info {
  width: 50%;
}

.product-section__images {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-section__image {
  cursor: pointer;
  width: 270px;
  height: 230px;
  object-fit: cover;
}

.product-section__info {
  padding: 0 20px;
}

.product__title {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 5px 0;
}

.product__vendor {
  color: #989898;
  font-size: 14px;
}

.product__price {
  color: #ef3636;
  font-size: 20px;
  margin: 0;
}

.product-section__variants-wrapper {
  padding: 20px 0;
}

.product-variants {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px 0;
}

.product-variant {
  cursor: pointer;
  min-width: 48px;
  text-align: center;
  border: 1px solid #ef3636;
  border-radius: 4px;
  color: #ef3636;
  padding: 10px 5px;
  transition: 100ms all;
}

.product-variant.active {
  background-color: #ef3636;
  color: #fff;
}

.product-variant:hover {
  background-color: #ef3636;
  color: #fff;
}

.product__submit-button {
  width: 100%;
  color: #fff;
  font-weight: bold;
  border-radius: 4px;
  border: 1px solid #989898;
  background-color: #989898;
  padding: 10px 20px;
  transition: 100ms all;
  margin-top: 20px;
}

.product__submit-button[:disabled] {
  cursor: not-allowed;
}

.product__submit-button:hover {
  color: #000;
  background-color: transparent;
}

.product-section__description {
  margin-top: 20px;
}

.product-section__description-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: transparent;
  color: #ef3636;
  border: 1px solid #ef3636;
  font-weight: bold;
  border-radius: 4px;
  padding: 10px 20px;
}

.product-section__description-button span {
  color: #000;
}

.product-section__description-content {
  display: none;
  margin: 10px 0;
}

.product-section__description.active .product-section__description-content {
  display: block;
}

.product-section__description-button svg {
  transition: 150ms all;
}

.product-section__description.active .product-section__description-button svg {
  transform: rotate(180deg);
}

/* recommendtations  */

.product-section__rec-wrapper {
  margin: 70px 0 200px 0;
}

.product-section__rec {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  justify-content: center;
  gap: 30px 10px;
}

.product-section__rec-title {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

/* image modal  */

.product-section__modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product-section__modal.active {
  display: block;
}

.image-modal {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 1px solid #000;
  padding: 20px;
}

.image-modal__img {
  width: 810px;
  height: 690px;
  object-fit: cover;
  object-fit: cover;
}

.image-modal__close {
  position: absolute;
  right: 35px;
  top: 35px;
}

.image-modal__close svg {
  color: #ef3636;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .image-modal__img {
    width: 500px;
    height: 400px;
  }
}

@media (max-width: 580px) {
  .image-modal__img {
    width: 300px;
    height: 400px;
    object-fit: contain;
  }
}

@media (max-width: 625px) {
  .product-section__images,
  .product-section__info {
    width: 100%;
  }

  .product-section__info {
    padding: 0;
  }

  .product-wrapper {
    flex-direction: column-reverse;
  }

  .product__submit-button {
    margin-bottom: 20px;
  }

  .product-section__image {
    width: 100%;
  }
}
