/* header styles */

.header {
  background-color: #ffff;
  padding: 25px 0;
}

.header-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo__name {
  color: #000;
  text-transform: uppercase;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 35px;
}

.header__nav-link,
.header__nav-button {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  text-transform: uppercase;
}

.header__nav-button {
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 5px;
}

.header__burger-menu {
  display: none;
}

.header__nav-link:hover,
.header__nav-button:hover {
  color: #ef3636;
}

.header__links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__links-search {
  cursor: pointer;
}

.header__links-shopping,
.header__links-search {
  color: #000;
}

.header__links-shopping:hover,
.header__links-search:hover {
  color: #5e5e5e;
}

/* header search  */

.header-search {
  display: none;
  width: 700px;
  position: absolute;
  right: 40px;
  background-color: #fff;
  border-bottom: 1px solid #000;
}

.header-search.active {
  display: block;
}

.header-search__wrapper {
  display: flex;
  justify-content: space-between;
}

.header-search__input {
  width: 100%;
}

/* header dropdown menu */

.header__nav-dropdown {
  display: none;
  width: 200px;
  position: absolute;
  background-color: #ffff;
  border: 1px solid #5e5e5e;
  padding: 10px;
}

.header__dropdown-container:hover .header__nav-dropdown {
  display: block;
}

.header__nav-dropdown a {
  width: 100%;
  padding: 8px 20px;
}

.header__nav-dropdown a:hover {
  background-color: #efefef;
}

.mobile-menu {
  opacity: 0;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: #fff;
  padding: 0 20px;
  transform: translateX(-100%);
  transition: 100ms all;
}

.mobile-menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
  border-bottom: 1px solid #dcdcdc;
}

.mobile-menu__header-title {
  text-transform: uppercase;
}

.mobile-menu__link,
.mobile-menu__link-sublink {
  font-size: 20px;
  padding: 15px 0;
  border-bottom: 1px solid #dcdcdc;
}

.mobile-menu__link,
.mobile-menu__link a,
.mobile-menu__link-sublink a {
  width: 100%;
  color: #020de5;
}

.mobile-menu__link a,
.mobile-menu__link-sublink a {
  padding: 5px 0;
}

.mobile-menu__link.mobile-menu__link-dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu__link-sublink {
  padding-left: 15px;
}

.mobile-menu__link-container {
  display: none;
}

.mobile-menu__link-container.active {
  display: block;
}

body.mobile .mobile-menu {
  opacity: 9;
  transform: translateX(0%);
}

/* header mobile  */

@media (max-width: 760px) {
  .header__nav {
    display: none;
  }

  .header__burger-menu {
    display: block;
  }
}

/* search mobile  */

@media (max-width: 935px) {
  .header-search {
    width: 70%;
  }
}

@media (max-width: 630px) {
  .header-search {
    width: 50%;
  }
}
