/* footer  */

.footer {
  background-color: #252525;
  color: #ffff;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 0;
}

.footer__info {
  margin-top: 14px;
}

.footer__info-shop {
  color: #ffff;
  text-transform: uppercase;
}

.footer__info-slogan {
  width: 140px;
  font-size: 12px;
}

.footer__info-links {
  display: flex;
  gap: 20px;
}

.footer__info-links svg:hover path {
  fill: #ef3636;
}

.footer__contact,
.footer__nav-title,
.footer__nav-link {
  font-size: 14px;
}

.footer__nav-title,
.footer__contact-title {
  color: #ef3636;
  text-transform: uppercase;
}

.footer__nav-link {
  display: block;
  color: #ffff;
  margin-bottom: 10px;
}

.footer__nav-link:hover {
  color: #dcdcdc;
}

.footer__contact-address,
.footer__contact-number,
.footer__contact-email {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Poppins";
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  border-top: 1px solid #ef3636;
  padding: 15px;
}

@media (max-width: 790px) {
  .footer-container {
    flex-direction: column;
  }

  .footer__info-slogan {
    width: 100%;
  }

  .footer-bottom {
    font-size: 14px;
  }
}
