.collection-background {
  padding: 60px 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.collection-header {
  color: #ffff;
}

.collection-header__title {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
}

.collection-content {
  padding: 40px 0 60px 0;
}

.collection-products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  justify-content: center;
  gap: 30px 10px;
}

.collection-content .collection-products[data-products-per-row="2"] {
  grid-template-columns: repeat(auto-fill, minmax(375px, 1fr));
}

.collection-filter {
  padding: 20px 0;
  color: #2f2f2f;
}

.collection-filter__sort-button {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  color: #000;
}

.collection-filter__form {
  display: none;
  padding: 15px 0 0 0;
}

.collection-filter__form.active {
  display: block;
}

.collection-filter__form-title {
  display: inline-block;
  border-bottom: 1px solid #626262;
  margin-bottom: 5px;
}

.collection-filter__form-label {
  font-family: "Poppins";
  font-size: 16px;
  text-transform: lowercase;
}

.collection-filter__form-submit {
  cursor: pointer;
  background-color: #767676;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  padding: 3px 20px;
  margin-top: 10px;
  border-radius: 4px;
  transition: 200ms all;
}

.collection-filter__form-submit:hover {
  background-color: #8e8e8e;
}

.collection-filter__form-block {
  margin-bottom: 20px;
}

.collection-filter__form-clear {
  background-color: #ef3636;
  border: 1px solid #ef3636;
  padding: 3px 10px;
  border-radius: 4px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  transition: 100ms all;
}

.collection-filter__form-clear:hover {
  background-color: transparent;
  color: #000;
}
