/* testimonials swiper  */

.testimonials-swiper {
  width: min(800px, 100%);
  height: 300px;
}

.swiper-button-prev:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: none;
}

.swiper-button-next,
.swiper-button-prev {
  top: 65%;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}

:root {
  --swiper-theme-color: #ef3636;
}

/* blog swiper  */

.blog-swiper {
  width: 100%;
  height: 100%;
}
